<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <!-- <h2 class="brand_name">Gesture Palette</h2> -->
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact us</a>
            <!-- <button class="btnLogin-popup">Login</button> -->
        </nav>
    </header>

    <div class="image-container">
        <div class="about-page">
            <img src="{{ url_for('static', filename='home.png') }}" alt="Image 2">
        </div>
    </div>
 
</body>
</html>
